.venv/
.env
.aider*
conversations/
monte_carlo/
results/
numina_olympiads/
augmented_datasets/
__pycache__
model_1iteration
backups/
backup/
*.json
local_dataset
cache
mistral/
metastral/
train_results/
models/
_unsloth_sentencepiece_temp
loras/
local_datasets/
merger/