.venv/
.env
conversations/
monte_carlo/
results/
numina_olympiads/
augmented_datasets/
__pycache__
model_1iteration
backups/
backup/
local_dataset
cache
train_results/
models/
_unsloth_sentencepiece_temp
loras/
local_datasets/
merger/
merger2/
merger_wrong/
logs/
cache/
clude/
.aider*
token_stats/
grpo_trainer_lora_model/
unsloth_compiled_cache/
tutor/
baseline/
simple_questions_output/
markdown_output/
wandb/
experiment.md
examples/
.conda/
.cache/